{% extends "wrappaer.html" %}
{% block content %}
<div class="container my-0">
  <div class="row justify-content-center">
    <div class="col-md-12 col-xl-10">
      <div class="card shadow-lg border-0 rounded-0">
        <div class="card-header bg-primary text-white rounded-top-0">
          <h5 class="mb-0">📊  Telegram user</h5>
        </div>
        <div class="card-body bg-light rounded-bottom-0">
          <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
              <thead class="table-primary text-center">
                <tr>
                  <th>User id</th>
                  <th>First  Name</th>
                  <th>Username</th>
                  <th>Start</th>
                </tr>
              </thead>
              <tbody class="text-center">
                {% for i in page_obj %}
                <tr>
                  <td>{{i.id}}</td>
                  <td>{{i.first_name}}</td>
                  <td><a href="https://t.me/{{ i.username }}" target="_blank">@{{ i.username }}</a></td>
                  <td>{{ i.created_at|date:"Y/ m-d / H:i" }}</td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
          </div>


          <div class="container end" >
          <nav aria-label="Sahifalash">
            <ul class="pagination">
              <!-- Oldingi sahifa -->
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Previous</span>
                </li>
              {% endif %}

              <!-- Sahifa raqamlari -->
              {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                  <li class="page-item active">
                    <span class="page-link">
                      {{ num }}<span class="sr-only">(current)</span>
                    </span>
                  </li>
                {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                  </li>
                {% endif %}
              {% endfor %}

              <!-- Keyingi sahifa -->
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Next</span>
                </li>
              {% endif %}
            </ul>
          </nav>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}